@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: red;
}

.app {
  display: flex;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}
header {
  width: 100%;
  margin: 5em 0;
}
.search__input {
  width: 50%;
  display: block;
  margin: 0 auto;
  padding: .5em .25rem;
  border-radius: 0.2rem;
  border: none;
  border: 1px solid #dfe1e5;
}

.weather__header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.weather__location {
  margin: 1em 0;
}
.weather__description {
  text-transform: capitalize;
}
.weather__body-container {
  display: flex;
}

.weather__body {
  text-align: center;
}