@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;

}
body {
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

.weather-input-container {
  background-color: #3b3b3b;
  height: 25rem;
  width: 25rem;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.weather-input-form input {
  padding: 5px 5px;
}
.weather-output {
  display: flex;
  justify-content: center;
}
.weather-output-temp {
  color: lightblue;
  font-size: 5rem;
  font-weight: 400;
}
.weather-metric {
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.weather-metric a {
  font-size: 100px;
  margin: 10px;
}
.weather-metric a:hover {
  color: lightblue;

}


.weather-metric a {
  text-decoration: none;
}